.login{
    margin: 70px auto;
    width: max-content;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 30px;
    display: flex;
}
.logo {
    color:cornflowerblue;
    border: 1px solid black;
    width: max-content;
    padding: 5px;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    margin: 2px 2px 5px;
}
.logo span {
    color: white;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.logos button {
    margin: 5px;
    
}