.login{
    margin: 70px auto;
    width: max-content;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 30px;
    display: flex;
}
.logo {
    color:cornflowerblue;
    border: 1px solid black;
    width: max-content;
    padding: 5px;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    margin: 2px 2px 5px;
}
.logo span {
    color: white;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.logos button {
    margin: 5px; 
}
.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width:600px;
    max-height: 300px;
    background-color: #C2E3FF;
    border-radius: 4px;
    margin:10px;
    padding: 5px 40px;
    font-size: 16px;
    line-height: 3em;
}
.buttonAdd {
    margin: 10px;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.tilebox {
    width: 550px;
}
.tablabox{
    overflow-y: scroll;
    max-height: 70vh;
}
.historybox{
    width: 550px;
    margin: 10px 20px;
}

.tabla {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.tablaCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.clientes {
    max-width: 700px;
    margin: auto;
    align-items: center;
}
.listaItems{
    min-width: 100px;
    width: max-content;
    margin: 10px 0px
}
.listaClientes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.listaTitle {
    font-size: 10px;
    font-weight: 800;
}